[Desktop Entry]
Encoding=UTF-8
Name=Dialog Example
Name[pt]=Exemplos do Dialog
Name[zh_CN]=对话框示例
Exec=xterm -e dialog --title " Title " --msgbox "Message box" 8 60
Icon=utilities-terminal
Type=Application
Categories=Development;
