[Desktop Entry]
Name=Tazlito manual
Name[fr]=Manuel de Tazlito
Name[pt]=Manual do Tazlito
Name[pt_BR]=Manual do Tazlito
Exec=browser file:///usr/share/doc/tazlito/tazlito.html
Icon=text-html
Type=Application
Categories=Documentation;
